.direnv
.vscode
target/
artifacts/
tarpaulin-report.html

# TS
node_modules
**/tsconfig.tsbuildinfo
dist
.env
flow-report.json
.envrc
bin

packages-ts/gauntlet-terra-contracts/artifacts/bin

# test
packages-ts/gauntlet-terra-contracts/codeIds/test*
tests/e2e/logs
networks/.env.test*
