.direnv
target/
tarpaulin-report.html
artifacts

# TS
node_modules
**/tsconfig.tsbuildinfo
dist
.env
flow-report.json
.envrc
bin

packages-ts/gauntlet-terra-contracts/artifacts/bin

# test
packages-ts/gauntlet-terra-contracts/codeIds/test*
tests/e2e/logs
packages-ts/gauntlet-terra-contracts/networks/.env.test*